@import 'styles';
@import 'mixins';
@import 'zerar-commons';

body {
  background-color: #f4f7fb;
}
.header-wrapper {
  .header-color-row-one {
    background: #0d89cf;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.5),0 10px 0 rgba(0,0,0,0.01) !important;
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.5),0 10px 0 rgba(0,0,0,0.01) !important;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5),0 10px 0 rgba(0,0,0,0.01) !important;
    margin-bottom: 5px;
  }
}
#header {
  background: url('../images/bg.jpg') no-repeat;

  #branding {
    width: 381px;
    margin: 15px 0;
    padding: 0;
  }
  #site-name {
    margin: 0;
    padding: 0;

    a {
      display: block;
      height: 90px;
      width: 381px;
      text-indent: -9999px;
      background: url('../../logo.png') no-repeat;
    }
  }
  #menu-bar.nav {
    margin: 55px 0 0;
    padding: 0;
    border: none;

    ul.menu li {
      a {
        position: initial;
        margin: 0;
        padding: 5px 15px;
        height: auto;
        text-shadow: none;
        font-size: 1.1em;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: initial;
        color: #fff;
        background: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .region.region-header {
    float: right;
    margin-top: 20px;

    .commons-utility-links {
      a {
        color: #fff;
      }
    }
    #block-search-form {
      margin-top: 10px;
    }
  }
}
#block-menu-menu-sobre-a-drupal-brasil {
  ul {
    li {
      list-style-image: none;
      list-style-type: disc;

      a {
        font-size: 1em;
        line-height: 2em;
      }
    }
  }
}